body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(41, 80, 80);
  gap: 40px;
}

.section2 {
  display: flex;
  justify-content: center;
}

.help {
  width: 872px;
  height: 100px;
  background-color: rgb(179, 250, 241);
  border: 1px solid ;
  border-radius: 5px;
}

#container {
margin: 0 auto;
margin-top: 40px;

}

#textarea {
  margin: 0 auto 15px;
  padding: 5px;
  width: 857px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: rgb(201, 248, 246);
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

#keyboard div {
  float: left;
  margin: 0 5px 5px 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  background: rgb(191, 243, 247);
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

#keyboard button {
  float: left;
  margin: 0 5px 5px 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  background: rgb(191, 243, 247);
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}


.capslock,
.tab,
.left-shift {
  clear: left;
}

#keyboard .tab,
#keyboard .delete {
  width: 60px;
}

#keyboard .capslock {
  width: 120px;
}

#keyboard .back {
  width: 128px;
}

#keyboard .return {
  width: 115px;
}

#keyboard .left-shift {
  width: 120px;
}

#keyboard .right-shift {
  width: 59px;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

#keyboard .left-ctrl {
  clear: left;
}

#keyboard .space  {
  width: 372px;
}

#keyboard .left-ctrl  {
  width: 95px;
}

#keyboard .but-right{
  width: 59px;
}

#keyboard div:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  background-color: rgb(104, 184, 184);
  cursor: pointer;
}


#keyboard button:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  background-color: rgb(104, 184, 184);
  cursor: pointer;
}

.symbol {
  font-size: 20px;
}

#keyboard .active {
  border-radius: 20%;
  background-color: rgb(118, 118, 204);
}

.anim {
  transition: all 0.2s;
  background-color:#94bbe9;
  border-radius: 30%;
}

